@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
    font-family: 'Meadowbrook';
    src:url('webfonts_Meadowbrook/Meadowbrook.ttf.woff') format('woff'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.svg#Meadowbrook') format('svg'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.eot'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
    margin: 0;
    padding:0;
    background-color: #fefdfb;
}

.header_container {
    width: 99%; 
    margin: 0 auto;
    padding: 0; 
}

.title h1 {
    font-family: 'Meadowbrook';
    font-weight: lighter;
    font-size: 160px;
    padding: 0; 
    margin: 0;
    width: 800px;
}

.title h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    letter-spacing: 0.1em;
    font-weight: lighter;
    padding: 0;
    margin: 0 0 0 400px;
    width: 400px;
}

nav {
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
    font-size: 28px;
}

nav {
    float: right;
    width: 100%;
    text-align: right;
    padding: 10px;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 0 2%;
    text-align: center;
}

@media screen and (max-device-width: 480px) {
    /*Mobile*/
    .title {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .title h1 {
        font-size: 17vw;
    }

    .title h3 {
        width: 100%; 
        text-align: center;
        font-size: 60px;
        font-weight: lighter;
        background-color: white;
        margin: 5px 0 0 0;
        padding: 0; 
    }

    nav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    /* small desktop screen */
    .title {
        background-color: #fefdfb;
        width: 100%;
        text-align: center;
    }
    .title h1 {
        width: 100%; 
        text-align: center;
        font-size: 20vw;
    }

    .title h3 {
        text-align: center; 
        width: 100%;
        margin: 0;
        font-size: 7vw;
    }

    nav {
        display: none;
    }
    
}