@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
    font-family: 'Meadowbrook';
    src:url('webfonts_Meadowbrook/Meadowbrook.ttf.woff') format('woff'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.svg#Meadowbrook') format('svg'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.eot'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
    margin: 0;
    padding: 0; 
    background-color: #fefdfb;
    width: 100%;
}

.title {
    position: relative
}
.title h1 {
    font-family: 'Meadowbrook';
    font-weight: lighter;
    width: 800px;
    font-size: 160px;
    margin: 0 0.5%;
    color: #1a1919;
}
.title h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    position: absolute;
    letter-spacing: 0.1em;
    text-align: center;
    top: 120px;
    left: 450px;
}
nav {
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
    font-size: 28px;
    max-width: 95%;
    min-width: 1200px;
    text-align: right;
    margin: 50px auto;
    padding: 0;
}


.video_container {
    margin: 150px auto 200px auto;
    width: 1200px;
}

.youtube_video {
    position:relative;
}

.youtube_video iframe {
    width: 650px;
    height: 350px;
    margin: 150px 0 100px 0;
    position: absolute;
}

.video_header h1 {
    font-family: 'Meadowbrook';
    font-weight: lighter;
    font-size: 170px;
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;

}

.video_header h2, .video_header h3 {
    font-family: 'Amatic SC'; 
    font-size: 40px;
    font-weight: lighter;
    margin: 0; 
    padding: 0;
    text-align: left;
}

.video_header { 
    width: 700px;
    margin: 0 0 100px 200px;
    position: relative;
}

.video_header h2 {
    margin: 0 0 -50px 0;
    padding: 0; 
    position: absolute;
    top: 30px;
}

.video_header h3 {
    margin: -30px 0 0 0; 
    padding: 0;
    text-align: right;
    position: absolute;
    left: 550px;
    top: 180px;
}

.about_me_container, .about_you_container {
    width: 1200px;
    margin: 10% auto;
    position: relative;
    }

.about_me_container {
    margin-top: 1500px;
    margin-bottom: 300px;
}

.about_you_container {
    margin-top: 100px;
}

.about_me_image {
    width: 660px;
    margin: -2% 0 0 -2%;
    position: absolute;
}
.about_you_image {
    width: 660px;
    position: absolute;
    left: 580px;
    top: 200px;
}
.about_me_image img, .about_you_image img {
    width: 100%;
}

.about_me {
    width: 480px;
    margin: -35% 0 0 56%;
}
.about_you {
    width: 480px;
    margin: 4%;
}

.about_me p, .about_you p {
    font-family: 'Georgia';
    font-size: 16px;
    line-height: 34px;
}
.about_me h1, .about_you h1 {
    font-size: 125px;
    font-family: 'Meadowbrook'; 
    font-weight: lighter;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.about_me_line, .about_you_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
    z-index: -1;
}
.testimonial_container {
    width: 1200px;
    margin: 400px auto 15% auto;
    font-family: 'Georgia';
}
.testimonial_header h1 {
    font-size: 125px;
    font-family: 'Meadowbrook';
    font-weight: lighter;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonial_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
    margin: 0 auto;
}
.testimonial {
    width: 600px;
    margin: 0 auto; 
    padding: 0;
    font-style: italic;
    text-align: right;
}
.testimonies {
    width: 90%; 
    margin: -10px auto 0 auto; 
    padding: 0;
    color: gray;
}
.testimonies * {
    display:inline-block;
    vertical-align: middle;  
}

.quote p {
    text-align: center;
    font-size:18px;
}


.quote h3 {
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left_quote, .right_quote {
    font-size: 30px;
    font-family: 'Meadowbrook';
}
.left_quote {
    margin-bottom: -70px;
    padding: 0;
    text-align: left;
    display: none;
}
.right_quote {
    text-align: right;
    margin-top: -60px;
    padding: 0;
    display: none;
}

.contact_container {
    width:1200px; 
    margin:0 auto;
}

.submit {
    width: 200px;
    height: 60px;
    color: white; 
    background-color: black;
    font-family: 'Amatic SC';
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
    line-height: 60px;
    margin: 0 auto;
}


a, a:active {
    text-decoration: none;
    color: white;
}

.contact_text {
    text-align: center;
    width: 700px;
    margin: 50px auto;
    line-height: 25px;
    font-size: 17px;
}

.contact_header {
    margin: 50px auto;
}

.contact_header h1 {
    font-size: 125px;
    font-family: 'Meadowbrook';
    font-weight: lighter;
    margin: 0;
    padding: 0;
    text-align: center;
}

 .contact_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
    margin: auto;
}

.social_container {
    width: 1200px; 
    margin: 10% auto 0 auto;
}

.social_line {
    background-color: black;
    height: 3px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

.social_buttons {
    width: 600px; 
    margin: 0 auto;
    text-align: center;
}

.social_buttons img {
    width: 60px;
    padding: 30px 20px 0 20px;
}

.logos {
    width: 700px;
    margin: auto;
    text-align: center;
}

.logos img {
    padding: 10px;
    width:250px;
}

.logos img:nth-child(2) {
    width: 100px;
}

nav ul li {
    padding: 0 30px;
    text-align: center;
    display: inline-block;
    text-decoration: none;    
    }

nav ul li a {
    color: black;
}

.header {
    text-align: center;
    margin: 0 2.5% 50px 2.5%;
    max-width: 95%;
    min-width: 1200px;
    }

.header img {
    width: 100%; 
}

.courses_container {
    width: 1200px;
    margin: 150px auto;
}

.courses_info {
    width: 750px;
    margin: 50px auto 0 auto;
    font-size: 17px;
    text-align: center;
    line-height: 25px;
}

.course_module {
    border: 1px solid black;
    width: 800px;
    margin: 100px auto;
    position: relative;
}

.course_module h1 {
    font-family: 'Amatic SC';
    font-size: 40px;
    letter-spacing: 0.15em;
    font-weight: lighter;
    position: absolute;
    padding: 5px 20px 5px 5px;
    display: inline-block;
    background-color: #fefdfb;
    vertical-align: text-top;
    top: -65px;
    left: -10px;
}

.course_module h2 {
    font-family: 'Meadowbrook';
    font-size: 70px;
    font-weight: lighter;
    text-align: right;
    padding: 0 0 0 15px; 
    margin: -45px -10px 0 0;
    float: right;
    background-color:#fefdfb;
}

.course_module .taster {
    width: 55%;
    margin: 50px 4% 0 4%;
    font-size: 18px;
    text-align: justify;
}

.course_text {
    display: none;
    width: 70%;
    padding: 0 4%;
    margin: 0;
    text-align: justify;
}

.courses_header {
    width: 800px;
    margin: 50px auto 0 auto;
}

.courses_header h1 {
    font-size: 125px;
    font-family: 'Meadowbrook';
    font-weight: lighter;
    margin: 0;
    padding: 0;
    text-align: left;
}

 .courses_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
}
.course_module button {
    background-color: black;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    padding: 0;
    color: white;
    font-family: 'Amatic SC';
    font-weight: lighter;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 55px;
    left: 550px;
}


.bottom_button {
    font-family: 'Meadowbrook';
    cursor: pointer;
    display: table;
    margin: 0 auto;
    font-size: 80px;
    padding: 10px 0 20px 0;
    text-align: center;
    font-weight: lighter;
    line-height: 20px;
}

.course_text p {
    font-size: 17px;
}

@media only screen and (min-device-width: 501px) {
    #mobileimage {
        display: none;
    }
}

@media only screen and (max-device-width: 500px) {
    #desktopimage {
        display: none;
    }

    nav {
        display: none;
    }

    .title {
        width: 100%;
    }

    .title h1 {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        width: 100%;
        font-size: 190px;
    }

    .title h3 {
        width: 100%; 
        text-align: center;
        position: relative;
        left: 0; 
        top: 0;
        margin: 5px auto; 
        padding: 0;
        font-size: 50px;
    }


    .video_header {
        display: block;
        position: relative;
    }

    .video_header h1 { 
        left: 70px;
    }

    .video_header h2 {
        left: 20px;
        top: 10px;
        font-size: 60px;
    }

    .video_header h3 {
        left: 70%;
        font-size: 50px;
    }

    .header { 
        width: 90%;
        min-width:0;
        margin: 20px auto 50px auto;

    }

    .header img {
        width: 100%;
    }

    .video_container {
        width: 100%;
        margin: 0 auto;
    }
    .video_header {
        margin: 100px auto;
        display: block;
        position: relative;
        width: 90%;
        background-color: pink;
    }

    .youtube_video { 
        position: relative;
        display: block;
        width: 100%;
        margin: 100px auto 0 auto;
    }

    .youtube_video iframe {
        top: 300px;
        margin: 100px auto 0 auto;
        position: relative;
        display: block;
        width: 90%;
        height: 450px;
    }

    .about_me_container, .about_you_container {
        display: block; 
        position: relative;
        width: 100%;
        
    }

    .about_me_container {
        margin: 500px auto 0 auto;
    }

    .about_you_container {
        margin: 200px auto 0 auto;
    }


    .about_me_image, .about_you_image {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 90%;
        top: 0; 
        left: 0;
    }


    .about_me, .about_you {
        position: relative;
        width: 90%;
        display: block;
        margin: 30px auto;
        top: 0;
        left: 0;
    }

    .about_me p, .about_you p {
        font-size: 13px;
        text-align: justify;
    }

    .about_me h1, .about_you h1, .testimonial_header h1, .courses_header h1, .contact_header h1 {
        font-size: 190px;
    }

   .testimonial_container {
       width: 100%;
       margin: 200px auto;
   }

   .testimonial {
       width: 85%;
   }

   .quote p, .quote h3 {
       font-size: 28px;
   }

   .left_quote, .right_quote {
    font-size: 50px;
   }

   .courses_container {
       width: 100%;
       margin: 100px auto;
   }

   .courses_header {
       width: 95%;
       text-align: center;
       margin: 0 auto;
       padding: 0;
   }

   .courses_info, .contact_text  {
       width: 90%;
       font-size: 14px;
   }

   .course_module {
    border: 1px solid black;
    width: 90%;
    margin: 100px auto;
    position: relative;
    }

    .course_module h1 {
        font-size: 60px;
        top: -80px;
        left: -10px;
    }

    .course_module h2 {
        font-size: 120px;
        display: block;
        position: absolute;
        top: 80px;
        left: 5%;
    }

    .course_module button {
        font-size: 45px;
        top: 55px;
        left: 550px;
        width: 250px;
        height: 90px;
    }

    .course_module .taster {
        width: 90%;
        font-size: 15px;
        margin: 170px auto 10px auto;
    }
    
    .course_text {
        width: 90%;
    }

    .course_text p {
        font-size: 14px;
    }

    .bottom_button {
        font-size: 150px;
        padding: 10px 0 20px 0;
        line-height: 20px;
    }

    .contact_container {
        width: 100%;
    }

    .social_container { 
        width: 100%;
    }

    .submit {
        width: 340px;
        height: 80px;
        font-size: 55px;
        line-height: 80px;
        margin: 0 auto;
    }

    .social_buttons {
        width: 95%; 
    }
    
    .social_buttons img {
        width: 100px;
        padding: 30px 30px 0 30px;
    }

    .logos {
        width: 95%;
    }
    
    .logos img {
        padding: 10px;
        width:330px;
    }
    
    .logos img:nth-child(2) {
        width: 150px;
    }


}