@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
    font-family: 'Meadowbrook';
    src:url('webfonts_Meadowbrook/Meadowbrook.ttf.woff') format('woff'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.svg#Meadowbrook') format('svg'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.eot'),
        url('webfonts_Meadowbrook/Meadowbrook.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

:root {
    margin: 0;
    padding: 0; 
    background-color: #fefdfb;
}
.title h1 {
    font-family: 'Meadowbrook';
    font-weight: lighter;
}
.title h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    letter-spacing: 0.1em;
    padding: 0;
}
nav {
    font-family: 'Amatic SC', cursive;
    font-weight: lighter;
    font-size: 28px;
}


.video_container {
    margin: 150px auto 200px auto;
    width: 900px;
}

.youtube_video {
    position:relative;
}


.youtube_video iframe {
    width: 650px;
    height: 365px;
    margin: 150px 0 100px 0;
    position: absolute;
}

.video_header h1 {
    font-family: 'Meadowbrook';
    font-weight: lighter;
    font-size: 170px;
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;

}

.video_header h2, .video_header h3 {
    font-family: 'Amatic SC'; 
    font-size: 40px;
    font-weight: lighter;
    margin: 0; 
    padding: 0;
    text-align: left;
}

.video_header { 
    width: 700px;
    margin: 0 0 100px 200px;
    position: relative;
}

.video_header h2 {
    margin: 0 0 -50px 0;
    padding: 0; 
    position: absolute;
    top: 30px;
}

.video_header h3 {
    margin: -30px 0 0 0; 
    padding: 0;
    text-align: right;
    position: absolute;
    left: 550px;
    top: 180px;
}

@media screen and (max-device-width: 500px) {
    body {
        background-color: pink;
    }

    .video_container {
        width: 80%; 
        margin: 0 auto;
    }

    .youtube_video iframe {
        width: 100%; 
        height: 400px;
        margin: 0 auto;
    } 

    .video_header {
        width: 100%; 
        margin: 5% auto;
    }

    .video_header h1 {
        text-align: center;
        padding: 0;
        
    }

    .video_header h3 {
        margin: -30px 70px 0 0;
        padding: 0;
        font-size: 45px;
    }

    .video_header h2 {
        margin: 0 0 -60px 0;
        font-size: 45px;
    }
}

.about_me_container, .about_you_container {
    width: 1200px;
    height: 500px;
    margin: 10% auto;
    position: relative;
    }

.about_me_container {
    margin-top: 1500px;
    margin-bottom: 300px;
}

.about_you_container {
    margin-top: 100px;
}

.about_me_image {
    width: 660px;
    margin: -2% 0 0 -2%;
    position: absolute;
}
.about_you_image {
    width: 660px;
    position: absolute;
    left: 580px;
    top: 200px;
}
.about_me_image img {
    width: 100%;
}
.about_you_image img {
    width: 100%; 
}
.about_me {
    width: 480px;
    margin: -35% 0 0 56%;
}
.about_you {
    width: 480px;
    margin: 4%;
}
.about_me_text {
    width: 100%;
}
.about_me p, .about_you p {
    font-family: 'Georgia';
    font-size: 16px;
    line-height: 34px;
}
.about_me h1, .about_you h1 {
    font-size: 125px;
    font-family: 'Meadowbrook'; 
    font-weight: lighter;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.about_me_line, .about_you_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
    z-index: -1;
}
.testimonial_container {
    width: 700px;
    margin: 400px auto 15% auto;
    font-family: 'Georgia';
}
.testimonial_header h1{
    font-size: 125px;
    font-family: 'Meadowbrook';
    font-weight: lighter;
    margin: 0;
    padding: 0;
    text-align: center;
}
.testimonial_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
    margin: 0 auto;
}
.testimonial {
    width: 500px;
    margin: 0 auto; 
    padding: 0;
    font-style: italic;
    text-align: right;
}
.testimonies {
    width: 90%; 
    height: 80px;
    margin: 0 auto; 
    padding: 0;
    color: gray;
}
.testimonies * {
    display:inline-block;
    vertical-align: middle;  
}

.quote p {
    text-align: center;
    font-size:18px;
}
.quote h3 {
    text-align: center;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.left_quote, .right_quote {
    font-size: 30px;
    font-family: 'Meadowbrook';
}
.left_quote {
    margin-bottom: -50px;
    padding: 0;
    text-align: left;
}
.right_quote {
    text-align: right;
    margin-top: -30px;
    padding: 0;
}

.contact_container {
    width:750px; 
    margin:0 auto;
}

input, textarea, select {
    display: block;
    margin: 20px auto;
    border: 1px black solid;
    background-color: #fefdfb;
}

input {
    line-height:20px;
    width: 500px;
}

span {
    display: inline-block;
}

textarea {
    resize: vertical;
    height: 100px;
    width: 498px;
}


form {
    width: 100%; 
    margin-top: 70px;
}

select {
    height: 25px;
	-webkit-border-radius: 0;
	border: 0;
	outline: 1px black solid;
    outline-offset: -1px;
    width: 502px;
}

.submit { 
    width: 150px;
    height: 40px;
    color: white; 
    background-color: black;
    font-family: 'Amatic SC';
    font-size: 25px;
    font-weight: lighter;
}

.contact_header {
    margin: 50px auto;
}

.contact_header h1 {
    font-size: 125px;
    font-family: 'Meadowbrook';
    font-weight: lighter;
    margin: 0;
    padding: 0;
    text-align: center;
}

 .contact_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
    margin: auto;
}

.social_container {
    width: 700px; 
    margin: 10% auto 0 auto;
}

.social_line {
    background-color: black;
    height: 3px;
    width: 700px;
    text-align: center;
    margin: 0 auto;
}

.social_buttons {
    width: 600px; 
    margin: 0 auto;
    text-align: center;
}

.social_buttons img {
    width: 60px;
    padding: 30px 20px 0 20px;
}

.logos {
    width: 700px;
    margin: auto;
    text-align: center;
}

.logos img {
    padding: 10px;
    width:250px;
}

.logos img:nth-child(2) {
    width: 100px;
}



@media screen and (max-width:650px), (max-device-width: 600px) {
    /* Mobile Version */
    .title {
        background-color: #fefdfb;
        width: 100%;
        text-align: center;
    }

    .title h1 {
        font-size: 75px;
        margin: 0;
        padding: 0;
    }

    .title h3 {
        font-size: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #desktopimage {
        display: none;
    }
    .header img {
        margin: 50px 5% 130px 5%;
        width: 90%;
   }    
    nav {
        display: none;
    }

    .about_me_container, .about_you_container {
        width:100%;
        height: auto;
    }
    .about_me_image, .about_me, .about_you_image, .about_you {
        margin: 0 auto;
        display: block;
    }
    .about_me_image, .about_you_image {
        width: 90%;
    }
    .about_me, .about_you {
        width: 90%;
    }
    .about_me p, .about_you p {
        font-size: 16px;
        line-height: 50px;
    }
    .testimonial_container {
        width: 100%;
    }
    .testimonial_header h1 {
        font-size: 130px;
    }
    .testimonial {
        width: 90%;
    }

    .quote p {
        text-align: center;
        font-size:30px;
    }
    .quote h3 {
        font-size: 25px;
        padding: 0;
        margin: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media screen and (min-width:650px) {
    /* Desktop Version */
    nav {
        float: right;
        width: 100%;
        text-align: right;
        padding: 10px;
    }

    nav ul li {
        padding: 0 2%;
        text-align: center;
    }

    .header {
        text-align: center;
        margin: 100px 2.5% 50px 2.5%;
        max-width: 95%;
    }

    #mobileimage {
        display: none;
    }

    .header img {
        width: 100%; 
    }

    .title h1 {
        font-size: 160px;
        margin: 0 0.5%;
    }

    .title h3 {
        margin: 0;
        padding-left: 450px;
    }

    nav ul li {
        display: inline-block;
        text-decoration: none;
    }

}

@media screen and (max-width: 900px) and (min-width:650px), (max-device-width: 900px){
    /* IN BETWEEN STAGE/ TABLET */
    .title {
        width: 100%;
        text-align: center;
    }
    .title h1 {
        font-size: 160px;
        margin: 0;
        padding: 0;
        display: block;
    }
    .title h3 {
        font-size: 25px;
        margin: 0;
        padding: 0 0 0 240px;
        text-align: center;  
    }
    .header {
        text-align: center;
        margin: 100px 2.5%;
        width: 95%;
    }
    #mobileimage {
        display: none;
    }

    nav {
        display: none;
    }  
    .about_me_container, .about_you_container {
        width:100%;
        height: auto;
    }
    .about_me_image, .about_me, .about_you_image, .about_you {
        margin: 0 auto;
        display: block;
    }    
    .about_me_image, .about_you_image {
        width: 90%;
    }
    .about_me, .about_you {
        width: 90%;
    }
    .about_me p, .about_you p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px), (max-device-width:320px) {
    

    .about_me h1, .about_you h1 {
        font-size: 80px;
    }      
    .about_me p, .about_you p {
        font-size: 12px;
    }
}

.courses_container {
    margin: 150px auto;
}

.course_module {
    border: 1px solid black;
    width: 800px;
    margin: 100px auto;
}

.course_module h1 {
    font-family: 'Amatic SC';
    font-size: 45px;
    letter-spacing: 0.1em;
    font-weight: lighter;
    margin: -50px 0 0 -10px;
    padding: 5px 20px 5px 5px;
    display: inline-block;
    background-color: #fefdfb;
    vertical-align: text-top;
}

.course_module h2 {
    font-family: 'Meadowbrook';
    font-size: 70px;
    font-weight: lighter;
    text-align: right;
    padding: 0; 
    margin: -45px -10px 0 0;
    float: right;
    background-color:#fefdfb;
    width:110px;
}

.course_module .taster {
    width: 55%;
    margin: 2.5% 4% 0 4%;
    font-size: 18px;
}

.course_text {
    display: none;
    width: 55%;
    padding: 0 4%;
}

.courses_header {
    width: 800px;
    margin: 50px auto 0 auto;
}

.courses_header h1 {
    font-size: 125px;
    font-family: 'Meadowbrook';
    font-weight: lighter;
    margin: 0;
    padding: 0;
    text-align: left;
}

 .courses_line {
    background-color: black;
    max-width: 240px;
    min-width: 240px;
    height: 3px;
}
.course_module button {
    float: right;
    background-color: black;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    margin: 50px -60px 0 0;
    padding: 0;
    color: white;
    font-family: 'Amatic SC';
    font-weight: lighter;
    font-size: 25px;
    cursor: pointer;
}

.bottom_button {
    font-family: 'Meadowbrook';
    cursor: pointer;
    display: table;
    margin: 0 auto;
    font-size: 80px;
    padding: 3px;
    text-align: center;
    font-weight: lighter;
}

.course_text p {
    font-size: 17px;
}

@media screen and (max-device-width: 500px) {
    .courses_container {
        margin: 0 auto;
        width: 90%;
    }

    .course_module {    
        width: 90%; 
        margin: 100px auto;
    }

    .course_module h1 {
        font-size: 90px;
    }

    .course_module h2 {
        margin: 0;
        text-align: left;
        font-size: 90px;
        width: 50%;
        float: left;
        margin: 1% 1% 2% 5%;

    }
    .course_module .taster {
        width: 80%;
        margin: 15% auto 0 auto;
        font-size: 13px;
        display: block;
    }
    .course_module button {
        float: right;
        background-color: black;
        border: 1px solid black;
        width: 250px;
        height: 60px;
        margin: 20px 40px 0 0;
        padding: 0;
        color: white;
        font-family: 'Meadowbrook';
        font-weight: lighter;
        font-size: 45px;
        vertical-align: text-top;
    }

    .course_text {
        width: 80%;
        margin: 0 auto;
    }

    .course_text p {
        font-size: 12px;
    }
}